img {
	margin: 1em;
	position: relative;
	top: 30px;
	border: 3px solid #7795ff;
	display: block;
	margin: auto;

}

.header {
	text-align: center;
	color: white;
	font-family: 'Quicksand';


}

h1 {
	font-size: 250%;

}

h3 {
	font-size: 200%;
}

p {
	font-size: 170%;

}

body {
	background-image: url("http://wallpaper-gallery.net/images/space-background-wallpaper/space-background-wallpaper-0.jpg");

}