/*img {
	margin: 1em;
	position: relative;
	top: 30px;
	border: 3px solid #7795ff;
	display: block;
	margin: auto;

}*/



.header {
	text-align: center;
	color: black;
	font-family: 'Reenie Beanie', 'Gabriola'; 


}

.ling-navbar ul {
	list-style-type: none;
	text-align: left;
	float: left;
	display: inline;
	line-height: 150px;
	color: black;
	text-decoration: none;
}

.ling-navbar {
	font-size: 170%;
}

h1 {
	font-size: 250%;

}

h3 {
	font-size: 200%;
}

/*p {
	font-size: 170%;

}*/

body {
	background-color: white;
}

.blog-post p {
	display: table;
	font-family: 'Quicksand', sans-serif;
	font-size: 150%;
}