img {
	margin: 1em;
	position: relative;
	top: 30px;
	border: 3px solid #7795ff;
	display: block;
	margin: auto;

}

.header {
	text-align: center;
	color: white;
	font-family: 'Quicksand';


}

body {
	background-image: url("https://hja7pg.bn1.livefilestore.com/y2pI3X-Uvm3wrneyupawH8rD75_hpUv7TN15VsND5i_bUlX3QJzI4ZY3zSrQGGSR4E4gpLNiW8aYyDw3l9EO39YwmAGRS8SonNQZ4lDJZv0wwo/door.jpg?psid=1");

}