p { 
	font-size: 100%;
	font-family: 'Quicksand', sans-serif; 
	text-align: left;
	color: white;
	opacity: 1; 
}

.header {
	font-family: 'PassionTea';
	/*font-size: 250%;*/
	text-align: center;
	color: white; 
	position: absolute;
	z-index: 1;
	opacity: 1;
}

h3 {font-family: 'PassionTea';
	font-size: 200%;
	opacity: 1;
}

h1 {font-size: 650%;
	font-style: bold;
	opacity: 1;
}

.layer { 
	background-color: #4abdac;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	opacity: 0.5;
	z-index: 0;
}



html {
	background: url(https://image.freepik.com/free-photo/great-view-of-park-with-city-background_1203-651.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


 .navbar {
	position: relative;
	bottom: 0px;
	width: 100%;
	list-style: none;
	float: center;
	display: block;
	text-align: center;
	padding: 10px 12px;
	margin: 15px; /*experimental*/
	background-color: #f7b733;
	color: white;
	font-family: 'PassionTea';
	font-size: 170%;
	list-style-type: none;
}

/*.navbar a {
	float: center;
	display: block;
	text-align: center;
	padding: 10px 12px;
	margin: 15px; /*experimental
	background-color: #f7b733;
	color: white;
	font-family: 'PassionTea';
	font-size: 170%;
	list-style-type: none;
} */



html, body {
	height: 100%;
}







/*#navlinks {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*display: block;
	text-align: center;
	font-size: 30px;
	padding: 20px;
	margin: 0;
	list-style: none;
}*/

/*.bottomnav {
	height: 100%;
}*/


/*#ul {
	height: 200px;
	width: 300px;
	font-size: 30px;
	font-family: 'Britannic';
	color: white;
	text-align: center;
	margin: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;

}

.navigation li a {
	display: inline-block;
}

.navigation {
	text-align: center;
}

/*img {
	margin: 1em;
	position: relative;
	top: 30px;
	border: 3px solid #7795ff;
	display: block;
	margin: auto;

}*/


	/*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/12/d6/50/12d65041ea0034328d98beb343b560bf.jpg");
}*/

 


/*.navbar {
	float: center;
	display: block;
	text-align: center;
	padding: 10px 12px;
	margin: 15px; /*experimental
	background-color: #f7b733;
	color: white;
	font-family: 'Britannic';
	font-size: 170%;
	list-style-type: none;
}*/


/*.background {
	background: url(https://image.freepik.com/free-photo/great-view-of-park-with-city-background_1203-651.jpg);
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}*/