p { 
	font-size: 150%;
	font-family: Arial; 
}
h1 {
	text-align: center;
	color: #383535; 
}

body { 
	background-color: rgb(246, 255, 255); 
}
img {
	position: relative;
	top: 30px;
	border: 3px solid #7795ff;
}
